@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap');

:root {
    --main-color: black;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

body {
    max-width: 980px;
    margin: auto;

}

header .logo img {
    justify-content:center;
    align-content: center;
    padding: 30px;
}


header .menu-items a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

header .menu-items a:hover {
    border: 1px solid var(--main-color)
}

/*burger menu */

#burger-checkbox {
    display: none;
}